.axis path { 
    stroke: black;
    stroke-width: 2;
    fill: none;
}
            
.axis line {
    fill: black;
    stroke: black;
    shape-rendering: crispEdges¡;
}
            
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

p {
    color: #2F4F4F;
    font-family: sans-serif;
}

h1 {
	font-family: sans-serif;
    color: #000080;
}

mark {

    font-family: sans-serif;
    background-color: #DCDCDC;
    color:  #00008B;
}
