div#map1{
	margin-left: 275px;
	width: 3500px;
	height: 875px;
	margin-top: 10px;
}

/* d3 SVG positioning */
div#map1 svg {
	position: relative;
}

div#dropdown{
	margin-top: 25px;
	margin-left: 100px;
}