div#map1{
	margin-left: 225px;
	width: 1300px;
	height: 775px;
	margin-top: 10px;
}

/* d3 SVG positioning */
div#map1 svg {
	position: relative;
}

div#dropdown{
	margin-top: 25px;
	margin-left: 100px;
}